html {
    font-size: 10px;
    background-image: url('./background.jpg');
    background-size: cover;
}

body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.key {
    border: .4rem solid black;
    border-radius: 31rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1.5rem .55rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: lightgray;
    background-color: rgba(103, 122, 153, 0.5);
    text-shadow: 0 0 .5rem black;
}

kbd {
    display: block;
    font-size: 4rem;
}

.sound {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .1rem;
    color: #000000;
    font-weight: bold;
}

.playing {
    transform: scale(1.1);
    border-color: #0b1eec;
    box-shadow: 0 0 1rem #0033ff;
}
